/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --black: #101010;
  --white: #eeeeee;
  --dark-grey: #222222;
  --grey: #bebebe;
  --bg: var(--black);
  --bg-tint: var(--dark-grey);

  --fg: var(--white);
  --fg-shade: var(--grey);

	--vs-base: 1rem;
	--vs-s: 0.5rem;
	--vs-xs: 0.25rem;
	--vs-l: 2rem;

  --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
}



body {
  background: var(--black);
  color: var(--white);
  font-size: 1em;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  tab-size: 20px;
}

.readable {
  max-width: 900px;
  width: 100%;
}

.readable-center {
  margin-inline: auto;
}

.readable-code {
  max-width: 1100px;
  width: 100%;
}

.flex {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 20px;
}

.layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [start] 2.5vw [content] 95vw [content] 2.5vw [end];
}

.layout-sidebar {
  --side-bar-width: 300px;
  --layout-margin: 2.5vw;
  grid-template-columns:
    [start] var(--layout-margin) [main sidebar] var(--side-bar-width)
    [sidebar gap]
    var(--layout-margin)
    [gap content] auto [content main] var(--layout-margin)
    [end];
  display: grid;
}

:is(.layout, .layout-sidebar) > * {
  grid-column: content/content;
}

.full {
  width: 100%;
  grid-column: start / end;
}

.content {
  width: 100%;
  grid-column: content / content;
}

.l-margin {
  width: 100%;
  grid-column: l-margin / l-margin;
}

.r-margin {
  width: 100%;
  grid-column: r-margin / r-margin;
}
.sidebar {
  width: 100%;
  grid-column: sidebar / sidebar;
}
.main {
  width: 100%;
  grid-column: main / main;
}

input, select {
	background: #1b1b1b;
	border: none;
	border-radius: 4px;
	color: var(--fg);
	box-shadow: var(--input-shadow);
	line-height: 2.3;
	padding-inline: 10px;
}

select {
	height: 32px;
}

button {
  background: #363636;
  border: none;
  border-radius: 4px;
  color: var(--fg);
  box-shadow: var(--input-shadow);
  line-height: 2.3;
  padding-inline: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


body, h1, h2, h3, h4, h5, h6, li, .fluid, textarea, input, select, button, th, td, p:not(.steps p) {
	line-height: calc(1em + 0.5rem);
	--fl: 0;
	--font-size-min: 14;
	--font-size-max: 16;
	--font-ratio-min: 1.2;
	--font-ratio-max: 1.33;
	--font-width-min: 320;
	--font-width-max: 1500;
	--font-width-min: 320;
	--font-width-max: 1500;
	--fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--fl, 0)));
	--fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--fl, 0)));
	--fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min)));
	--fluid-type: clamp(
		(var(--fluid-min) / 16) * 1rem,
		((var(--fluid-min) / 16) * 1rem) -
			(((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
			(var(--fluid-preferred) * var(--variable-unit, 100vi)),
		(var(--fluid-max) / 16) * 1rem
	);
	font-size: var(--fluid-type);
}

/* This makes containers, with container queries use a cqi unit instead of vi */
.fluid-text-container {
	container-type: inline-size;
  --variable-unit: 100cqi;
}
h1, .h1 {
	--fl: 5;
}
h2, .h2 {
	--fl: 4;
}
h3, .h3 {
	--fl: 3;
}
h4, .h4 {
	--fl: 2;
}
h5, .h5 {
	--fl: 1;
}
h6, .h6, p, li, body, .fs-base {
	--fl: 0;
}

.fs-xs {
	--fl: -1;
}
.fs-xxs {
	--fl: -2;
}
.fs-xxxs {
	--fl: -3;
}
